/* ==== Resets ==== */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ==== Font Family ==== */
@font-face {
    font-family: "IranYekanX-Regular";
    src: url("../fonts/IRANYekanXFaNum-Regular.woff");
}

@font-face {
    font-family: "IranYekanX-Medium";
    src: url("../fonts/IRANYekanXFaNum-Medium.woff");
}

@font-face {
    font-family: "IranYekanX-Bold";
    src: url("../fonts/IRANYekanXFaNum-Bold.woff");
}

@font-face {
    font-family: "IranYekanX-Heavy";
    src: url("../fonts/IRANYekanXFaNum-Heavy.woff");
}

/* ==== App Css ==== */
body {
    font-family: "IranYekanX-Regular";
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    width: 592px;
    height: 424px;
    background-image: url("../images/card.png");
    border-radius: 12px;
    position: relative;
}

.card__wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.card__messages {
    width: 80px;
    height: 48px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-family: "IranYekanX-Bold";
    font-size: 18px;
    color: #ffffff;
    background-color: #1D2939;
}

.card__icon {
    color: #ffffff;
}

.card__heart {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C9184A;
    border-radius: 100%;
}